<table cellpadding="0" border="0">
    <tbody>
        <tr>

            <!-- Column 1-->
            <td width="25%" valign="top">

                <!-- Mission Statement -->
                <table class="boxy">
                    <tbody>
                        <tr>
                            <td>

                                <h1><a class="headerlink"
                                        href="forums/viewtopic.php?t=38&amp;sid=698219e267aa395f272e2847fa3adf63">
                                        Introduction</a></h1>

                                The Gamer's Quarter magazine is a quarterly publication produced by a
                                group of passionate gamers
                                with the desire to create a videogame magazine like no other.
                                <br>

                                <br>
                                If you have any questions, please take a look at our <a
                                    href="http://www.gamersquarter.com/forums/viewtopic.php?t=61" target="_blank"
                                    class="postlink">Frequently Asked Questions</a>
                                page.
                                <p class="small" align="right">(0)

                                    <a href="forums/viewtopic.php?t=38&amp;sid=698219e267aa395f272e2847fa3adf63">
                                        Comments</a>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Mailing List -->
                <table class="boxy">
                    <tbody>
                        <tr>
                            <td>

                                <h1>Mailing List</h1>


                                <form method="post">
                                    Your email:&nbsp;<input type="text" name="email" class="inputsmall" value=""
                                        size="20"><br>

                                    <input type="radio" name="action" value="sign" checked="checked">subscribe
                                    <input type="radio" name="action" value="delete">remove&nbsp;

                                    <input type="submit" value=" Send! " class="button">
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Links -->
                <table class="boxy">
                    <tbody>
                        <tr>
                            <td>



                                <h1><a class="headerlink"
                                        href="forums/viewtopic.php?t=35&amp;sid=698219e267aa395f272e2847fa3adf63">
                                        Links</a></h1>

                                <div align="center"><a href="http://www.insertcredit.com" target="_blank"
                                        class="postlink"><img src="assets/images/IClink.gif" border="0"></a> <a
                                        href="http://www.selectbutton.net" target="_blank" class="postlink"><img
                                            src="http://www.dessgeega.com/select_button.gif" border="0"></a>
                                    <br>
                                    <a href="http://www.fort90.com" target="_blank" class="postlink"><img
                                            src="http://pics.fort90.com/fort90link.gif" border="0"></a>
                                    <a href="http://www.tigsource.com/" target="_blank" class="postlink"><img
                                            src="assets/images/TIGSourceLink.gif" border="0"></a>
                                    <br>
                                    <a href="http://www.entdepot.com/" target="_blank" class="postlink"><img
                                            src="assets/images/entlink.gif" border="0"></a> <a
                                        href="http://persona.mechafetus.com/" target="_blank" class="postlink"><img
                                            src="assets/images/88ban.gif" border="0"></a>
                                    <br>
                                    <a href="http://www.alessonislearned.com/" target="_blank" class="postlink"><img
                                            src="assets/images/lessonlink.gif" border="0"></a> <a
                                        href="http://www.emptywords.ca/" target="_blank" class="postlink"><img
                                            src="assets/images/emptywordslink.gif" border="0"></a>
                                    <br>
                                    <a href="http://www.superwes.com" target="_blank" class="postlink"><img
                                            src="assets/images/SuperWeslink.gif" border="0"></a> <a
                                        href="http://www.largeprimenumbers.com/" target="_blank" class="postlink"><img
                                            src="assets/images/LPNLink.gif" border="0"></a>
                                    <br>
                                    <a href="http://www.dontpressstart.com" target="_blank" class="postlink"><img
                                            src="assets/images/dpslink.gif" border="0"></a> <a
                                        href="http://www.1up-zine.com/" target="_blank" class="postlink"><img
                                            src="assets/images/1uplink.gif" border="0"></a>
                                    <br>
                                    <a href="http://www.disposablemedia.co.uk" target="_blank" class="postlink"><img
                                            src="assets/images/disposablemedialink.gif" border="0"></a>
                                    <br>

                                    <br>
                                    (link to us)
                                    <br>
                                    <a href="http://www.gamersquarter.com" target="_blank" class="postlink"><img
                                            src="assets/images/tgqlink.gif" border="0"></a>
                                    <br>
                                </div>
                                <p class="small" align="right">(33)

                                    <a href="forums/viewtopic.php?t=35&amp;sid=698219e267aa395f272e2847fa3adf63">
                                        Comments</a>


                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>

            <app-issue-list></app-issue-list>

            <!-- Column 3-->
            <td width="25%" valign="top">

                <!-- Staff Section -->
                <table class="boxy">
                    <tbody>
                        <tr>
                            <td>
                                <h1><a class="headerlink"
                                        href="http://www.gamersquarter.com/forums/viewforum.php?f=8">Staff</a>
                                </h1>


                                <table>
                                    <tbody>
                                        <tr>
                                            <td>SuperWes</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Mr. Mechanical</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>RaBee Williams</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Swimmy</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>dhex</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Lestrade</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Sushi D</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>dessgeega</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>ApM</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>ShaperMC</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Seryogin</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Szczepaniak</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Mister Toups</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Faithless</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Persona-sama?</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>ajutla</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Randorama</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>SFC</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>

        </tr>
    </tbody>
</table>