body.sitepage
{
//http://www.easyrgb.com/
//Issue #1
//orange=ff8800
//light orange=FFD89C
//Issue #0
//dark blue=60A8CE
//light blue=D8E2C8
//Issue #2
//dark green=A3BA36
//light green=E3E9A9
//Issue #3
//dark purple=928EB1
//light purple=DAD7EA
//Issue #4
//Forest Green=4A6140
//Pale Blue=BCC9B6
//Issue #5
//Poop Orange=b9621d
//light brown=e8d998
//Issue #6
//wine red=940137
//gray green=A8C797
//Issue #7
//red=bc322f B31A1E
//yellow=ffd048 ffe087
	background-attachment: fixed;
	margin: 0px;
	background-color: #ffe087;
	scrollbar-3dlight-color: #000000;
	scrollbar-arrow-color: #000000;
	scrollbar-darkshadow-color: #ffe087;
	scrollbar-face-color: #ffe087;
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #ffe087;
	scrollbar-track-color: #ffffff;
}
h1
{
	font:normal;
	color:B31A1E;
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
	font-family: "Courier New","Century Gothic", "Arial","Times","Times Roman"; 
}

font.title, p.title
{
	font:normal;

	color:white;//Banner Color
	text-align: right;
	vertical-align: bottom;
	font-weight: bold;
	font-size: 18pt;

	font-family: "Courier New","Century Gothic", "Arial","Times","Times Roman"; 

}


font.subtitle
{
	font:normal;
	color:white;//Banner Color
	text-align: right;
	vertical-align: bottom;
//	font-weight: bold;
//	font-family: "Courier New","Century Gothic", "Arial","Times","Times Roman"; 

}

body, td, p, li
{
	font:normal;

	color:black;

	font-size: 10pt;

	font-family: "helvetica","Times","Times Roman","Century Gothic";
}
table.boxy
{
width:100%;
border-color:#B31A1E;
border-width:2px;
border-style:solid;
background-color:#ffffff;
margin:1px 0px 3px 0px;
}
table.logo
{
width:100%;
//border-color:B31A1E;
//border-width:2px;
border-bottom:2px solid gray;
background-color:#B31A1E;
}
table.overalltable
{
background:url('TGQLogo.gif') no-repeat;
//style="background:url('newtgq_files/TGQLogoBottom.gif') no-repeat;"
}

table.forumheader
{
width:500;
align:center;
cellpadding:0;
border-color:B31A1E;
background-color:#B31A1E;
border-style:solid;
text-align:right;
}
/* The content of the posts (body of text) */
.postbody { font-size : 12px; line-height: 18px}
a.postlink:link	{ text-decoration: underline; color : #333333 }
a.postlink:visited { text-decoration: underline; color : #333333; }
a.postlink:hover { text-decoration: underline; color : #333333}
a:link
{
	text-decoration: underline;
	border-style:none;
	border-width: 0px;
	color: #B31A1E;
}

a:visited
{
	text-decoration: underline;
	border-style:none;
	border-width: 0px;
	color: #B31A1E;
}

a:active
{
	text-decoration: underline;
	border-style:none;
	border-width: 0px;
	color: #B31A1E;
}
a:hover
{
	text-decoration: underline;
	border-style:none;
	border-width: 0px;
	color: #B31A1E;
}
img
{
	border-style:none;
	border-width: 0px;
}