
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tgq2-primary: mat-palette($mat-indigo);
$tgq2-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tgq2-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$tgq2-theme: mat-light-theme($tgq2-primary, $tgq2-accent, $tgq2-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tgq2-theme);


body
{
//http://www.easyrgb.com/
//Issue #1
//orange=ff8800
//light orange=FFD89C
//Issue #0
//dark blue=60A8CE
//light blue=D8E2C8
//Issue #2
//dark green=A3BA36
//light green=E3E9A9
//Issue #3
//dark purple=928EB1
//light purple=DAD7EA
//Issue #4
//Forest Green=4A6140
//Pale Blue=BCC9B6
//Issue #5
//Poop Orange=b9621d
//light brown=e8d998
//Issue #6
//wine red=940137
//gray green=A8C797
//Issue #7
//red=B31A1E
//yellow=ffe087
//Issue #8
//Dark Blue=0044bd
//Light Blue=5db4df
	background-attachment: fixed;
	margin: 0px;
	background-color: #5db4df;
	scrollbar-3dlight-color: #000000;
	scrollbar-arrow-color: #000000;
	scrollbar-darkshadow-color: #5db4df;
	scrollbar-face-color: #5db4df;
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #5db4df;
	scrollbar-track-color: #ffffff;
}